<div class="relative w-screen h-16">
  <div class="container mx-auto flex items-center justify-between max-w-5xl px-4">
    <img [routerLink]="homePage" src="/img/logo.png" alt="logo" class="element-shadow">
    <div class="flex items-center gap-8">
      <div class="flex items-center gap-4">
        <ng-icon name="heroSunSolid" size="24" class="text-white element-shadow"/>
        <ng-icon name="heroGlobeAsiaAustraliaSolid" size="24" class="text-white element-shadow"/>
      </div>
      @if (authService.loggedInUser; as loggedInUser) {
        @if (route === 'budget') {
          <app-create-item-modal></app-create-item-modal>
        } @else if (route === 'department') {
          <app-create-department-modal></app-create-department-modal>
        } @else if (route === 'employee') {
          <app-create-employee-modal></app-create-employee-modal>
        }
        <app-user-dropdown></app-user-dropdown>
      } @else {
        <app-login-button></app-login-button>
      }
    </div>
  </div>
</div>