<button (click)="openModal()" class="flex items-center gap-2 bg-green-400 text-white px-6 rounded-lg h-[44px] text-base border-none bg-opacity-40 hover:bg-opacity-60 transition duration-300 element-shadow">
  <ng-icon name="heroPlusSolid" size="20" class="text-white"></ng-icon>
  เพิ่มแผนก
</button>

<div *ngIf="isModalOpen" tabindex="-1" aria-hidden="true" class="fixed inset-0 z-50 flex justify-center items-center w-full h-full bg-black bg-opacity-50">
    <div class="relative container py-16 px-8 space-y-8 w-[565px] bg-[#282C34] bg-opacity-90 rounded-lg shadow-xl">
      <h1 class="text-white text-center">เพิ่มแผนก</h1>
      <form [formGroup]="fg" (ngSubmit)="onSubmit()" class="space-y-8" >
        <div class="flex items-center bg-[#1D2025] bg-opacity-50 border-none rounded-lg w-full py-[10px] px-[10px] text-white leading-tight focus:outline-none focus:bg-opacity-80 focus:border-primary">
          <input
            id="name"
            formControlName="name"
            type="text"
            placeholder="ชื่อแผนก"
            class="bg-transparent border-none w-full text-white leading-tight focus:outline-none placeholder:text-gray-400"
          />
        </div>
        @if (error) {
          <p *ngIf="error.status === 400" class="text-red-400 text-end">กรุณาใส่ข้อมูลให้ครบถ้วน!</p>
          <p *ngIf="error.status !== 400" class="text-red-400 text-end">เกิดข้อผิดพลาด!</p>
        }
        <button type="submit" class="bg-green-400 text-white px-6 rounded-lg h-[44px] w-full text-base border-none bg-opacity-40 hover:bg-opacity-60 transition duration-300 element-shadow">
          ยืนยัน
        </button>
      </form>
      <ng-icon (click)="closeModal()" name="heroXMarkSolid" size="24" class="absolute top-0 right-6 text-white"></ng-icon>
    </div>
</div>
